@import "build.less";

body {
    overflow-x: hidden;
}

.error {
    border: 1px solid #b94a48 !important;
    background-color: #ffeeee !important;
}

footer {
    max-width : 100%;
    overflow : hidden;
}

.footer-content {
    padding: 3%;
}

#index #featured {
    margin-top: -30px;
}

.page-host {
    position: relative;
    padding-top: 80px;
}