@import "build.less";

body {
    overflow-x: hidden;
}

.splash {
    text-align: center;
    margin: 0;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.5);
    height: 100em;

    .message {
        padding-top: 10%;
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    }

    .bb-loader {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        .message {
            font-size: 2.5em;
        }

        .bb-loader {
            font-size: 3.5em;
        }
    }
}

.error {
    border: 1px solid #b94a48 !important;
    background-color: #ffeeee !important;
}

.page-host {
    position: relative;
    padding-top: 80px;
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}


/* Footer */

footer {
    max-width: 100%;
    display: none;
    overflow: hidden;
}

.footer-content {
    padding: 3%;
}

#featured {
    margin-top: -40px;
}


/* Bootstrap Overrides */

.navbar-fixed-top {

    .navbar-inner {
        padding-left: 1em;
        padding-right: 1em;
    }

    @media (max-width: 979px) {
        margin-bottom: 0;
    }
}

/* Stashy Overrides */

.st-loader {
    @media (max-width: 768px) {
        span[class*="l-"] {
            width: 5px;
            height: 5px;
        }
    }
}

/* Header */

#sharebar {
    margin-right: 5px;

    i {
        font-size: 1.3em;
    }

    @media (min-width: 768px) {
        i {
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
    }

    @media (max-width: 767px) {
        span {
            display: inline !important;
        }
    }
}

/* Splash Loader */

.bb-loader {
  width: 75px;
  height: 75px;

  position: relative;
  margin: 100px auto;
}

.pulse1, .pulse2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: pulse 2.0s infinite ease-in-out;
  animation: pulse 2.0s infinite ease-in-out;
}

.pulse2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes pulse {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes pulse {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}