@import "build.less";

body {
    overflow-x: hidden;
}

.splash {
	text-align: center;
	margin: 0;
	opacity : 0.8;
	color : #FFF;
	height : 100em;

    .message {
	    padding-top : 10%;
	    font-size: 5em;
	    line-height: 1.5em;
	    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    }

    .fa-spinner {
	    text-align: center;
	    display: inline-block;
	    font-size: 5em;
	    margin-top: 50px;
    }

    @media (max-width: 768px) {
        .message {
		    font-size : 2.5em;
	    }

        .fa-spinner {
		    font-size : 3.5em;
	    }
    }
}

.error {
    border: 1px solid #b94a48 !important;
    background-color: #ffeeee !important;
}

footer {
    max-width : 100%;
    display: none;
    overflow : hidden;
}

.footer-content {
    padding: 3%;
}

#index #featured {
    margin-top: -30px;
}

.page-host {
    position: relative;
    padding-top: 80px;
}