<!DOCTYPE html>
<html lang="en">
<head>
    <title>theBusyBongo</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="fragment" content="!">
    <meta name="author" content="Carlson Go">
    <meta name="keywords" content="The Busy Bongo">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62234170-1', 'auto');        
    </script>
</head>
<body>
    <div class="st-sticky-wrap" id="applicationHost">
        <div class="splash well">
            <div class="message">
                <div class="bb-loader">
                    <div class="pulse1"></div>
                    <div class="pulse2"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="st-sticky-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-content">
                    <hr /> 
                    &copy; @DateTime.UtcNow.Year - Carlson Go - @System.Configuration.ConfigurationManager.AppSettings["ApplicationEnvironment"]
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    @Scripts.Render("~/Scripts/libs")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js" data-main="/App/main"></script>
    }
    else
    {
        <script type="text/javascript" src="~/build/app/main-built.js"></script>
    }    
</body>
</html>
